.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.inputLabelContainer{
  display: inline-block;
  margin: 20px;
}

.inputLabel{
  margin: 5px;
}

.inputLabelContainer .ant-input-number{
  width: 150px;
}

.inputLabelContainer .ant-switch{
  background-color: #ff4a4a;
}

.inputLabelContainer .ant-switch.ant-switch-checked{
  background-color: #1890ff;
}

.inputLabelContainer .ant-input-number-disabled{
  background-color: white;
  color: black;
}

@media screen and (max-width: 1023px) {
  .row{
    width: 100vw;
  }

  .inputLabelContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
  }
  
  .inputLabelContainer .ant-input-number{
    width: 100%;
  }

  .inputLabelContainer.buySellToggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}